[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "langprocgroup.github.io"]
	path = langprocgroup.github.io
	url = https://github.com/langprocgroup/langprocgroup.github.io.git
	branch = master
